%h1.bank-institution 
  = @bank_account.institution
%h3.bank-description
  = @bank_account.description
%hr

%h2 More Info 
%hr 

%h3.current-balance 
  Current Balance: 
  = number_to_currency(@bank_account.amount)

%h4 Ledger Transcations

%ol
  - @bank_account.ledger.each do |transaction|
    %li
      %h3 
        Transaction Date: 
        = transaction[:ledger_change]
      %h3 
        Old Amount: 
        = number_to_currency(transaction[:previous_amount])
      %h3 
        New Amount 
        = number_to_currency(transaction[:new_ammount])

%hr

= link_to 'Edit', edit_bank_account_path(@bank_account)
= link_to 'Back', bank_accounts_path